#room-picker {
	position: absolute;
	top: 100px;
	left: 0;

	background-color: green;
	width: 100%;
	height: 0px;
}

.room-picker-entry {
	width: 100%;
	height: 25px;
}

.room-picker-join {
	width: 100%;
	border: none;
}
